@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suranna&display=swap');
.centered {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}
body {
    background-color: black;
}
.about {
    margin-top: 1000px;
    font-family: 'Suranna', serif;
}
.btn {
    margin-top: 10px;
}
.centered {
    margin-top: 20px;
}
.dropdown-menu {
    left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
}
#section2 {
    height: 300px;
}
